:root, html, body {
  background-color: #f8f9fa !important;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar .nav-link {
  cursor: pointer;
}

.navbar-brand {
  cursor: pointer;
}
